[user]
  name = Jon Shea
  email = jonshea@foursquare.com
[alias]
  ## I often do something like 'git git status', wouldn't it be cool if
  ## that just worked?
  git = !git
  patch = !(git diff HEAD~ HEAD --no-ext-diff) > ~/Desktop/$(git rev-parse --short HEAD).patch
  lastweek = !git log --committer=jonshea --no-prefix --simplify-merges --reverse --since='1 week ago'
[branch]
  autosetuprebase = always
[branch "master"]
  remote = origin
  merge = refs/heads/master
[core]
  excludesfile = /Users/jonshea/.gitexcludes
[color]
  ui = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[diff]
  tool = Kaleidoscope
[push]
  default = matching
