[user]
	name = Jon Shea
	email = jonshea@expandrive.com
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
      ## I often do something like 'git git status', wouldn't it be cool if
      ## that just worked?
      git = !git
[branch]
        autosetupmerge = true
[github]
	user = jonshea
	token = 8670c907d33d5432de9f78254ba397bb
[push]
	default = tracking
[core]
	excludesfile = /Users/jonshea/.gitexcludes
[branch "master"]
          remote = origin
          merge = refs/heads/master
    
