[user]
	name = Jon Shea
	email = jonshea@foursquare.com
#	signingkey = gpg-key-id
[color]
	ui = true
#	diff = auto
#	status = auto
#	branch = auto
#	interactive = auto
[alias]
      ## I often do something like 'git git status', wouldn't it be cool if
      ## that just worked?
      git = !git
      patch = !(git diff HEAD~ HEAD --no-ext-diff) > ~/Desktop/$(git rev-parse --short HEAD).patch
[github]
	user = jonshea
	token = 8670c907d33d5432de9f78254ba397bb
[push]
	default = matching
[core]
	excludesfile = /Users/jonshea/.gitexcludes
[branch "master"]
    remote = origin
    merge = refs/heads/master
    
[diff "ruby"]
	funcname = ^ *\\(\\(class\\|module\\|def\\) .*\\)
